{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Pdf plugin for Craft CMS 3.x
 *
 * Pdf Settings.twig
 *
 * @author    Enupal
 * @copyright Copyright (c) 2018 Enupal
 * @link      https://enupal.com
 * @package   Pdf
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("enupal\\pdf\\assetbundles\\pdf\\PdfAsset") %}
<p>{{"You will have to download `wkhtmltopdf` 0.12.x in order to use Enupal PDF."|t('enupal-pdf')}}</p>
{{ forms.textField({
	label: 'Absolute Binary Path of wkhtmltopdf lib',
	instructions: '/usr/local/bin/wkhtmltopdf',
	id: 'pdfBinPath',
	name: 'pdfBinPath',
	value: settings['pdfBinPath']})
}}

{{ forms.textField({
	label: 'Absolute Binary Path of wkhtmltoimage lib',
	instructions: '/usr/local/bin/wkhtmltoimage',
	id: 'pdfBinPath',
	name: 'pdfBinPath',
	value: settings['pdfBinPath']})
}}
