{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Snapshot plugin for Craft CMS 3.x
 *
 * Snapshot Settings.twig
 *
 * @author    Enupal
 * @copyright Copyright (c) 2018 Enupal
 * @link      https://enupal.com
 * @package   Snapshot
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("enupal\\snapshot\\assetbundles\\snapshot\\SnapshotAsset") %}
<p>{{"You will have to download `wkhtmltosnapshot` 0.12.x in order to use Enupal PDF."|t('enupal-snapshot')}}</p>
{{ forms.textField({
	label: 'Absolute Binary Path of wkhtmltopdf lib',
	instructions: '/usr/local/bin/wkhtmltopdf',
	id: 'pdfBinPath',
	name: 'pdfBinPath',
	value: settings['pdfBinPath']})
}}

{{ forms.textField({
	label: 'Absolute Binary Path of wkhtmltoimage lib',
	instructions: '/usr/local/bin/wkhtmltoimage',
	id: 'imageBinPath',
	name: 'imageBinPath',
	value: settings['imageBinPath']})
}}
