<a class="btn" href="{{ pdfUrl }}" target="_blank">{{ 'Download PDF'|t('enupal-snapshot') }}</a>
&nbsp;<span class="info"> Update the email template path and the filename in the Enupal Snapshot <a target="_blank" href="{{ cpUrl('settings/plugins/enupal-snapshot') }}">Settings</a></span>
<div class="flex-grow"></div>