<span class="error"> Order PDF template is not set </span>&nbsp; <span class="info">Please set the Stripe Payment Order template in the Enupal Snapshot <a target="_blank" href="{{ cpUrl('settings/plugins/enupal-snapshot') }}">Settings</a> </span>
&nbsp;<div class="flex-grow"></div>